<!DOCTYPE html>
<html>
<head>
	<title>Appointment Edit</title>
</head>
<body>

	<h1>EDIT EDIT EDIT</h1>

		 
	 	{%for apt in user_apts%}
		<li>{{apt.tasks}} {{apt.date}} {{apt.time}}  {{apt.status}}   </li>
		{% endfor %}



		 <form action ='/update' method="POST">
			{% csrf_token%}>
			Date: <input name="date" type="date">
			Time: <input name="time" type="time">
			Tasks: <input type="text" name="tasks">
			Status:<input type="text" name="status">
			<input type="submit" name="submit" value= "update">
		</form>	


		<a href='/'>Logout</a>





</body>
</html>